
<body>

<div id="main" style="width: 800px;height:600px;"></div>

<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));

        var option = {
        // 表格标题相关设置
        title: {
            text: '2020年上半年用户注册趋势',
        },
        // 悬浮提示框
        tooltip: {},
        // 选项卡
        legend: {
            data: ['趋势']
        },
        // x轴数据
        xAxis: {
            data: [],
        },
        yAxis: {},
        // 表格展示的参数
        series: [{
            name: '趋势',
            type: 'bar',
            data: [],
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

    //向后台发送ajax请求来获取数据
    $.ajax({
        url: "/user/get_half_year/",
        datatype: "json",
        type: "get",
        success: function (data) {
            console.log(data);
            console.log(typeof data)
            // 在后端响应数据后重新指定表格参数
            myChart.setOption({
                xAxis: {
                    data: data.data.x,
                },
                series: [{
                    name: '注册趋势',
                    type: 'line',
                    data: data.data.y,
                }]
            });
        }
    })




</script>


</body>
